.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 25%;

    .title {
      text-align: center;
    }

    .component {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}