.Buy {

    .textFieldWrapper {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    .buttonWrapper {
        width: 100%;
        margin-top: 20px;

        .button {
            width: 100%;
        }
    }

    .resultText {
        margin-top: 10px;
    }
}