.Index {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .linkCardWrapper {
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}